@font-face {
  font-family: Shabnam-FD;
  src: url(/public/font/shabnam-font-FD/Shabnam-FD.eot);
  src: url(/public/font/shabnam-font-FD/Shabnam-FD.eot?#iefix)
      format("embedded-opentype"),
    url(/public/font/shabnam-font-FD/Shabnam-FD.woff2) format("woff2"),
    url(/public/font/shabnam-font-FD/Shabnam-FD.woff) format("woff"),
    url(/public/font/shabnam-font-FD/Shabnam-FD.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Shabnam-FD;
  src: url(/public/font/shabnam-font-FD/Shabnam-Bold-FD.eot);
  src: url(/public/font/shabnam-font-FD/Shabnam-Bold-FD.eot?#iefix)
      format("embedded-opentype"),
    url(/public/font/shabnam-font-FD/Shabnam-Bold-FD.woff2) format("woff2"),
    url(/public/font/shabnam-font-FD/Shabnam-Bold-FD.woff) format("woff"),
    url(/public/font/shabnam-font-FD/Shabnam-Bold-FD.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url(/public/font/shabnam-font/Shabnam-Thin.eot);
  src: url(/public/font/shabnam-font/Shabnam-Thin.eot?#iefix)
      format("embedded-opentype"),
    url(/public/font/shabnam-font/Shabnam-Thin.woff2) format("woff2"),
    url(/public/font/shabnam-font/Shabnam-Thin.woff) format("woff"),
    url(/public/font/shabnam-font/Shabnam-Thin.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Shabnam-FD;
  src: url(/public/font/shabnam-font-FD/Shabnam-Light-FD.eot);
  src: url(/public/font/shabnam-font-FD/Shabnam-Light-FD.eot?#iefix)
      format("embedded-opentype"),
    url(/public/font/shabnam-font-FD/Shabnam-Light-FD.woff2) format("woff2"),
    url(/public/font/shabnam-font-FD/Shabnam-Light-FD.woff) format("woff"),
    url(/public/font/shabnam-font-FD/Shabnam-Light-FD.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Shabnam;
  src: url(/public/font/shabnam-font/Shabnam-Medium.eot);
  src: url(/public/font/shabnam-font/Shabnam-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(/public/font/shabnam-font/Shabnam-Medium.woff2) format("woff2"),
    url(/public/font/shabnam-font/Shabnam-Medium.woff) format("woff"),
    url(/public/font/shabnam-font/Shabnam-Medium.ttf) format("truetype");
  font-weight: 500;
}

:root {
  font-size: 16px;
  --box-shadow: 0px 0px 60px rgba(66, 36, 110, 0.12);
  --pure-white: #ffffff;
  --Sunglow: #fecd4c;
  --Space-Cadet: #2a2d4c;
  --primary: #7e5eed;
  --Medium-Slate-Blue: #7e5eed;
  --Medium-Spring-Green: #20ed8a;
  --primary: #7e5eed;
  --gray10: #1d1929;
  --gray11: #e8e8ea;
  --gray2: #d2d1d4;
  --gray3: #e8e8ea;
  --gray8: #4a4754;
  --gray15: #8e8c94;
  --gray0: #f9f9f9;
  --gray6: #77757f;
  --gray4: #a5a3a9;
  --green1: #d2fbe8;
  --green10: #0fbb68;
  --purple1: #e5dffb;
  --purple10: #7e5eed;
  --pink1: #ffdfe4;
  --pink10: #ff5d7a;
  --yellow1: #fff5db;
  --yellow10: #f6b301;
  --blue1: #dbf6ff;
  --blue10: #00bbf6;
}
html {
  font-size: 62.5%;
  direction: rtl;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  margin: 0;
  direction: rtl;
  min-height: 100%;
  font-family: Shabnam-FD, Shabnam;
  font-size: 1.6rem;
  overflow-x: hidden;
}

* {
  font-family: Shabnam-FD, Shabnam;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--gray10);
}
p {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 150%;
}
a {
  font-weight: bold;
  text-decoration: none !important;
  cursor: pointer;
}
h1 {
  font-size: 2.125rem;
  font-weight: 800;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.75rem;
}

/*                                       antd coutom                                          */
.ant-form-item .ant-select,
.ant-form-item .ant-cascader-picker {
  border: none;
  box-shadow: none;

  background: var(--Mokh-White1);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 16px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background: var(--Mokh-White1) !important;
  color: var(--Mokh-Font1) !important;
}
.ant-select-selector {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.ant-notification {
  z-index: 1000000 !important;
}
.none-display {
  display: none !important;
}
.ant-popover-inner-content {
  padding: 10px !important;
}
.ant-popover-content {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.base-page {
  overflow-y: auto;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  background: var(--Mokh-White1);
}

.loading-indicator:before {
  content: "";
  background: #000000cc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: "Loading";
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1001;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.desktop {
  display: block;
}

.tablet {
  display: none;
}

.mobile {
  display: none;
}

@media screen and (max-width: 780px) {
  .desktop {
    display: none;
  }

  .tablet {
    display: block;
  }

  .mobile {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .desktop {
    display: none;
  }

  .tablet {
    display: none;
  }

  .mobile {
    display: block;
  }
}
/*  */
.dashboardMain{
  background-color: white;
  border-radius: 11px;
  padding: 20px 32px;
  min-height: 584px;
}
